<form
  [formGroup]="clientRegisterForm"
  (ngSubmit)="save()">

  <div class="left-side">
    <p>
      <mat-form-field>
        <mat-label>Nome</mat-label>
        <input
          type="text"
          matInput
          placeholder=""
          formControlName="name">
      </mat-form-field>
    </p>

    <p>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Data de nascimento</mat-label>
        <input
          formControlName="dob"
          matInput
          [matDatepicker]="picker">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker">
          <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
        </mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </p>

    <p>
      <mat-form-field>
        <mat-label>Telefone</mat-label>
        <input
          type="tel"
          matInput
          placeholder=""
          formControlName="phone">
      </mat-form-field>
    </p>

    <p>
      <mat-form-field>
        <mat-label>E-mail</mat-label>
        <input
          type="email"
          matInput
          placeholder=""
          formControlName="email">
      </mat-form-field>
    </p>


    <section
    class="example-section">
    <span class="example-list-section">
      <mat-checkbox
          formControlName="contact"
          class="example-margin"
          [checked]="allComplete"
          [color]="task.color"
          [indeterminate]="someComplete()"
          (change)="setAll($event.checked)">
          {{task.name}}
        </mat-checkbox>
      </span>
      <span class="example-list-section">
        <ul>
          <li *ngFor="let subtask of task.subtasks">
            <mat-checkbox
              [(ngModel)]="subtask.completed"
              [ngModelOptions]="{ standalone: true}"
              [color]="subtask.color"
              (ngModelChange)="updateAllComplete()">
              {{subtask.name}}
            </mat-checkbox>
          </li>
        </ul>
      </span>
    </section>

    <p>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Indicado por</mat-label>
        <input
          type="text"
          placeholder="Selecione"
          aria-label="client"
          matInput
          formControlName="indicatedBy"
          [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let client of filteredNames | async" [value]="client">
            {{client}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </p>


    <p>
      <mat-radio-group
      aria-label="Select an option"
      formControlName="plan">
      <mat-radio-button value="simple">Simples</mat-radio-button>
      <mat-radio-button value="premium">Premium</mat-radio-button>
    </mat-radio-group>
    </p>


  </div>

  <div formArrayName="adresses">
    <h2>Endereços</h2>
    <div
      *ngFor="let address of adresses; let i = index"
      [formGroupName]="i"
      >
      <p>
        <mat-form-field>
          <mat-label>Rua</mat-label>
          <input
            type="text"
            matInput
            formControlName="street">
        </mat-form-field>

        <mat-form-field>
          <mat-label>Número</mat-label>
          <input
            type="text"
            matInput
            formControlName="number">
        </mat-form-field>
      </p>

      <p>
        <mat-form-field>
          <mat-label>Bairro</mat-label>
          <input
            type="text"
            matInput
            formControlName="neighborhood">
        </mat-form-field>
      </p>

      <p>
        <mat-form-field>
          <mat-label>Cidade</mat-label>
          <input
            type="text"
            matInput
            formControlName="city">
        </mat-form-field>

        <mat-form-field>
          <mat-label>UF</mat-label>
          <input
            type="text"
            matInput
            formControlName="state">
        </mat-form-field>
      </p>

      <p>
        <mat-form-field>
          <mat-label>Complemento</mat-label>
          <input
            type="text"
            matInput
            formControlName="complement">
        </mat-form-field>
      </p>

      <p>
        <mat-form-field>
          <mat-label>Apelido</mat-label>
          <input
            type="text"
            matInput
            formControlName="alias">
        </mat-form-field>
      </p>
      <hr>
    </div>
    <button
      type="button"
      (click)="onAddAdress()"
      mat-flat-button
      color="primary">+</button>
  </div>

  <button
    type="submit"
    mat-flat-button
    color="primary">Salvar
  </button>
</form>
