form {
  display: flex;
}

.left-side {
  margin-right: 2rem;
}

ul {
  list-style-type: none;
}

mat-icon {
  font-weight: 1000;
  width: 30px;
  height: 30px;
}

p {
  margin: 0;
}

.btn {
  margin: 2em 0;
}

.invalid-field {
  position: relative;
  top: -20px;
  margin: 0;
  color: red;
}
