<div class="page-container">
  <mat-list role="list">
    <mat-list-item
      role="listItem"
      *ngFor="let client of paginationSlice">
      <span class="client-name">{{client.name}}</span>
      <button (click)="onEditClient(client)">
        <span class="material-symbols-outlined">
          edit_square
        </span>
      </button>
      <button (click)="onDeleteClient(client)">
        <span class="material-symbols-outlined">
          delete
        </span>
      </button>
    </mat-list-item>
  </mat-list>

  <button
    class="add-client"
    mat-button
    color="primary"
    (click)="addClient()">
    <span
      class="material-symbols-outlined">
      add_circle
    </span>
  </button>

  <mat-paginator
    class="paginator"
    [length]="length"
    [pageSize]="pageSize"
    [pageSizeOptions]="[3, 5, 10, 20]"
    aria-label="Select page"
    (page)="onPageChange($event)">
  </mat-paginator>
</div>
